<p>
  hero works!
</p>

<!--Chaines de cracteres.-->
<h1> Chaines de cracteres </h1>

<h2>{{"Spiderman" | lowercase}}</h2>
<h2>{{"Spiderman" | uppercase}}</h2>
<h2>{{"Welcome to avengers" | titlecase}}</h2>
<h2>{{"Spiderman" | slice:5}}</h2>
<h2>{{"Spiderman" | slice:3:6}}</h2>

<!--Nombres et pourcrntage.-->
<h1> Nombres et pourcentages </h1>
<h2>{{3.14159265 | number:'1.2-3'}}</h2>
<h2>{{3.14159265 | number:'3.4-5'}}</h2>
<h2>{{3.14159265 | number:'3.1-2'}}</h2>

<h2>{{0.25 | percent}}</h2>
<h2>{{0.25 | currency}}</h2>
<h2>{{0.25 | currency:'EUR'}}</h2>

<!--Dates.-->
<h1>Datess</h1>
<h2>{{date}}</h2>
<h2>{{date | date:'short'}}</h2>
<h2>{{date | date:'shortDate'}}</h2>
<h2>{{date | date:'shortTime'}}</h2>
